#include <windows.h>
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Stonecutter.Display.manifest"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 3, 0
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904b0"
BEGIN
VALUE "FileDescription",  "Stonecutter: Display"
VALUE "ProductName",      "Stonecutter: Display"
VALUE "ProductVersion",	  "1.0.3.0"
VALUE "LegalCopyright",   "Copyright (C) 2024"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0, 1252
END
END